In [37]:
import pandas as pd
import numpy as np

data = {
    "Customer_ID": [101,102,103,104,105,106,107,108],
    "Name": ["Rahul Mehta","Anjali Rao","Suresh Iyer","Neha Singh",
             "Amit Verma","Karan Shah","Pooja Das","Riya Kapoor"],
    "City": ["Mumbai","Bengaluru","Chennai","Delhi",
             "Pune","Ahmedabad","Kolkata","Jaipur"],
    "Monthly_Sales": [12000,np.nan,15000,np.nan,18000,np.nan,14000,16000],
    "Income": [65000,np.nan,72000,np.nan,58000,61000,np.nan,69000],
    "Region": ["West","South","South","North",np.nan,"West","East","North"]
}

df = pd.DataFrame(data)
print(df)

   Customer_ID         Name       City  Monthly_Sales   Income Region
0          101  Rahul Mehta     Mumbai        12000.0  65000.0   West
1          102   Anjali Rao  Bengaluru            NaN      NaN  South
2          103  Suresh Iyer    Chennai        15000.0  72000.0  South
3          104   Neha Singh      Delhi            NaN      NaN  North
4          105   Amit Verma       Pune        18000.0  58000.0    NaN
5          106   Karan Shah  Ahmedabad            NaN  61000.0   West
6          107    Pooja Das    Kolkata        14000.0      NaN   East
7          108  Riya Kapoor     Jaipur        16000.0  69000.0  North

Q8. Listwise Deletion
Remove all rows where Region is missing.
 Tasks:
 Identify affected rows
 Show the dataset after deletion
 Mention how many records were lost

In [38]:
missing_region = df[df["Region"].isna()]
print("Rows with missing Region:")
print(missing_region)

Rows with missing Region:
   Customer_ID        Name  City  Monthly_Sales   Income Region
4          105  Amit Verma  Pune        18000.0  58000.0    NaN

In [39]:
df_q8 = df.dropna(subset=["Region"])
print("\nDataset after deletion:")
print(df_q8)

Dataset after deletion:
   Customer_ID         Name       City  Monthly_Sales   Income Region
0          101  Rahul Mehta     Mumbai        12000.0  65000.0   West
1          102   Anjali Rao  Bengaluru            NaN      NaN  South
2          103  Suresh Iyer    Chennai        15000.0  72000.0  South
3          104   Neha Singh      Delhi            NaN      NaN  North
5          106   Karan Shah  Ahmedabad            NaN  61000.0   West
6          107    Pooja Das    Kolkata        14000.0      NaN   East
7          108  Riya Kapoor     Jaipur        16000.0  69000.0  North

In [40]:
records_lost = len(df) - len(df_q8)
print("\nRecords lost:", records_lost)

Records lost: 1

Q9. Imputation Handle missing values in Monthly_Sales using: Forward Fill Tasks: Apply forward fill Show before vs after values Explain why forward fill is suitable here

In [41]:
df_q9 = df.copy()
df_q9["Monthly_Sales"] = df_q9["Monthly_Sales"].ffill()

In [42]:
comparison = pd.DataFrame({
    "Before": df["Monthly_Sales"],
    "After": df_q9["Monthly_Sales"]
})
print(comparison)

    Before    After
0  12000.0  12000.0
1      NaN  12000.0
2  15000.0  15000.0
3      NaN  15000.0
4  18000.0  18000.0
5      NaN  18000.0
6  14000.0  14000.0
7  16000.0  16000.0

Why forward fill is suitable

Explanation:

Forward fill uses the last known value.

Suitable when data is sequential (e.g., time, customer order, or logical sequence).

Assumes the next value is likely similar to the previous one when missing.

Q10. Flagging Missing Data Create a flag column for missing Income. Tasks: Create Income_Missing_Flag (0 = present, 1 = missing) Show updated dataset Count how many customers have missing income

In [43]:
df_q10 = df.copy()
df_q10["Income_Missing_Flag"] = df_q10["Income"].isna().astype(int)

In [44]:
print(df_q10)

   Customer_ID         Name       City  Monthly_Sales   Income Region  \
0          101  Rahul Mehta     Mumbai        12000.0  65000.0   West
1          102   Anjali Rao  Bengaluru            NaN      NaN  South
2          103  Suresh Iyer    Chennai        15000.0  72000.0  South
3          104   Neha Singh      Delhi            NaN      NaN  North
4          105   Amit Verma       Pune        18000.0  58000.0    NaN
5          106   Karan Shah  Ahmedabad            NaN  61000.0   West
6          107    Pooja Das    Kolkata        14000.0      NaN   East
7          108  Riya Kapoor     Jaipur        16000.0  69000.0  North

   Income_Missing_Flag
0                    0
1                    1
2                    0
3                    1
4                    0
5                    0
6                    1
7                    0

In [45]:
missing_count = df_q10["Income_Missing_Flag"].sum()
print("Customers with missing income:", missing_count)

Customers with missing income: 3